# Dependencies
node_modules/
functions/node_modules/

# Builds
.dist/
dist/
build/
.next/
.turbo/
.cache/
.vite/

# Env and local
.env
.env.*
.firebase/
.firebaserc.local
.vercel/

# OS/editor
.DS_Store
Thumbs.db
*.log

# Others
coverage/
*.local
scripts/service-account.json
